body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    height: 100%;
    background-color:aliceblue;
}
.aprogrammer{
    margin: 90px;
    margin-bottom: 0px;
}
.bottom-container{
    background-color: #66BFBF;
    padding-top: 50px;
}
hr{
    width: 10%;
    margin: 100px auto ;
    border: dotted black 6px;
    border-bottom: none;
}
.cpp-image{
    width: 15%;
    float: left;
    margin-right: 500px;
    
}
.copyright{
    margin-bottom: auto;
    padding-bottom: 50px;
    padding-top: 50px;
}
.contact-me{
    margin-bottom: 100px;
    line-height: 3;
    
}
.dataStucture{
    width: 25%;
    float: left;

}
.footer-link{
     color: aliceblue;
     margin: auto 100px auto 100px;
}

.top-container{
    background-color: #EAF6F6;
    margin-top: 0px;
    height: 100%;
    width: 100%;
}
.first-cloud{
    position: relative;
    left: 400px;
    top: 80px;
}
.javascript{
    width: 15%;
    
    float: right;
    clear: right;
    margin-left: 200px;

}
.Html{
    width: 15%;
    float: right;
}
h1{
    color: #66BFBF;
    margin: 0px;
    position: relative;
    top: 80px;
    font-size: 140px;
    font-family: 'Sacramento', cursive;
}
h2{
    color: #66BFBF;
    font-size: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h3{
    margin-bottom: 0px auto 30px auto;
}
.link-image{
    width: 3%;
}
.my-skill{
    background-color: #EAF6F6;
}
.middle-container{
    margin-top: 0px;
    
}
.mountain{
    margin-top: 0px;
}
.pr{
    margin-bottom: 70px;
}
.greet{
    text-align: center;
}
.profile{
    background-color: aliceblue;
    width: 70%;
    margin: 100px auto 100px auto;
    text-align: center;
    height: 500px;

}
.profile-photo{
    width: 40%;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 80px;
    border-radius: 10%;
    float: left;
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
  }

.second-cloud{
    position: relative;
    bottom: 250px;
    right: 200px;
}
.skills{
    padding-top: 100px; 
    padding-bottom: 100px;
    
}
.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Courier New;
    color: #fafafa;
    font-size: 20px;
    background: #66BFBF;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  